.bg_footer
{
	background: #e54337;
	width:1000px;
	float: left;
	margin-bottom: 120px;
}
.row_footer
{
	padding-left:30px;
	padding-right:30px;
	padding-top:30px;
	width:100%;
	float: left;
	padding-bottom:30px;
}
.footer_col_01
{
	width:245px;
	float: left;
	color: #fff;
}
.footer_col_02
{
	width:210px;
	float: left;
	color: #fff;
}
.footer_col_03
{
	width:278px;
	float: left;
	color: #fff;
	padding-left: 40px;
	padding-right:40px;
	font-size: 11px;
}
.footer_col_04
{
	width:207px;
	float: left;
	color: #fff;
}
.footer_title
{
	font-size: 18px;
	font-weight: 500;
	padding-bottom:15px;
	float: left;
	width:100%;
	font-family: museo;

}
.ul_footer
{
	padding-left: 12px;
	font-size: 11px;
	float: left;
	/*font-family: Lucida;*/
}
.ul_footer li
{
	padding-bottom:13px;
	list-style: circle;
}
.footer_flick img
{
	float: left;
	margin-right:7px;
	margin-bottom:7px;
}

.footer_flick img:nth-child(4n+4)
{
	margin-right:0px;
}
.footer_under
{
	text-decoration: underline;
}