#header
{
	float: left;
	width:1000px;
	background:#fff;
}
.head_row
{
	padding-top:45px;
	padding-bottom:45px;
	padding-left:30px;
	padding-right:30px;
	float: left;

}

.head_left
{

	width:170px;
	float:left
}
.head_right
{
	text-align: right;
	width:250px;
	float: right;

}
.head_right ul
{
	margin-bottom:0px;
}
.head_right ul li
{
	padding-left:5px;
	list-style: outside;
	display: inline;
}
.head_menu
{
	background-color: #e64135;
	width:100%;
	color:#fff;
	float: left;


}
.head_menu ul
{
	float: left;
	padding-top:5px;
	padding-bottom:5px;
	padding-left: 0px;
	width:100%;
	margin-bottom:0px;
	padding-left:30px;
}
.head_menu ul li 
{
	display: inline;
	float: left;
	padding-right:20px;

}
.head_menu ul li a
{
	font-family: museo, sans-serif;
	font-weight: 500;
	font-size: 15px;
	text-transform: uppercase;
	color:#fff;
	font-weight:bold;
	padding-top:4px;
	padding-bottom:4px;
	float: left;
	padding-left: 10px;
	padding-right:10px;
}
.head_menu ul li a:hover
{
	text-decoration:none;
}

.is_active,.head_menu ul li a:hover
{
	background:#fff;
	color:#e54337 !important;
}