.maiin_bg
{
	background:#fff;
	float: left;
	width: 100%;
	height:auto;
}
.main_top
{
	margin-top:40px;
	margin-bottom:45px;
	width:1000px;
	color:#989898;
	font-size: 24px;
	line-height:160%;
	padding-left:30px;
	padding-right:30px;
	float: left;
	background:#fff;
	font-family: museo;
	font-weight: 300;


}
.main2_row
{
	float: left;
	padding-left: 30px;
	padding-right: 30px;
	width:1000px;
	margin-bottom:30px;
	background-color: #fff;

}
.line
{
	width:100%;
	height:1px;
	background:#e1e1e1;
	float: left;
	margin-bottom:30px;

}
.main02_left
{
	width:700px;
	float: left;

}
.img-respon
{
	max-width: 100%;
}
.main_02_right
{
	padding-left:30px;
	float: right;
	width:240px;
}
.main_02_title
{
	color:#e54337;
	font-size: 28px;
	font-weight: 300;
	line-height: 110%;
	padding-bottom:30px;
	margin-top:-6px;
	font-family: museo;
}
.main_02_text
{
	color:#818181;
	font-size: 12px;
	line-height: 180%;
	padding-bottom:34px;
}
.main_02_button
{
	float: left;

}
a:hover
{
	text-decoration: none;
}
.main_02_button h5 a
{
	color:#fff;
	background:#e54337;
	font-size: 11px;
	padding:5px 15px 5px 10px;
	font-family: museo;
	font-weight: 500;
}
.row_main_03
{
	margin-bottom:50px;
	float: left;
	width:1000px;
	padding-left:30px;
	padding-right:30px;
	background-color: #fff;
}
.l_tab
{
	border-top:1px solid #e1e1e1;
	border-bottom:1px solid #e1e1e1;
	float: left;
	width:100%;
}
.tab_01
{

	float: left;
	border-left:0px solid #fff;
	border-right:0px solid #fff;
	padding-left: 0px;
	margin-bottom:0px;
}
.tab_01 li.activetab {
    color:#e54337;
}
.tabcontent {
    display: none;
    margin: 30px 0px 0px 0px;
    border-top: none;
    float: left;
}
.tablinks
{
	padding-top:8px;
	padding-bottom:8px;
	background: transparent;
	cursor: pointer;
	padding-right:15px;
	float: left;
	color:#989898;
	font-size: 15px;
	font-family: museo;
	list-style: none;
}
.row_img_03
{
	width:100%;
	float: left;
}
.colum_img
{
	width:172px;
	height:100%;
	float: left;
	margin-right:20px;
	margin-bottom:20px;
}
.colum_img:nth-child(5n+5)
{
	margin-right:0px;
}
.span_right
{
	float: right;
	padding-right:0px;
	padding-top:5px;
}
.left,.right
{
	cursor: pointer;
	padding-left:3px;
}