body
{
	background: url("../img/bg.png") center center;
	background-repeat: repeat;

}
@font-face {
    font-family:museo;
    src: url("../lib/Museo.otf");
}
@font-face{
	font-family:Lucida;
	src:url("../lib/Lucida.ttf");
}
.body-wraper
{
	max-width: 1000px;
	margin-left:auto;
	margin-right: auto;
	margin-top:50px;
	background: #fff;

}

// ==========================================================================
// Header
// ==========================================================================

@import "_header";
// ==========================================================================
// Main
// ==========================================================================

@import "_main";
// ==========================================================================
// fotter
// ==========================================================================

@import "_footer";
/*end footer*/



